/**************
 *   Colors   *
 **************/
$white: #fff;
$darkBlack: #000;
$black: #707070;
$whiteActive: #c1c1c1;

/**************
 *   Styles   *
 **************/
$font-family-sans-serif: 'Ubuntu', sans-serif;

$font-family-serif: 'Apple Chancery';

$size-extra-large: 2rem;
$size-large: 1.5rem;
$size-medium: 1.25rem;
$size-normal: 1rem;
$size-small: 0.75rem;
$size-extra-small: 0.5rem;

$font-weight-normal: 400;
$font-weight-medium: 800;
$font-weight-big: 1000;

/******************
 *   Breakpoints  *
 ******************/

$mobile: 600px;
$tablet: 1024px;
